---
import WorkSubtitle from '@components/WorkSubtitle';
import WorkBody from '@components/WorkBody';
import ZerendorLayout from '@layouts/ZerendorLayout.astro';
import ZerendorWelcome from '@components/Welcome';
import NavFooter from '@components/NavFooter.astro';
---

<ZerendorLayout title="Giko x Zerendor" showDate>
  <div>
    <ZerendorWelcome to="giko" client:load />
    <WorkSubtitle subtitle="Brief" date="May 23'" />
    <WorkBody
      body="To bring comfort and authenticity to the home office desk. That is GIK(o)'s mission. Under the Japanese philosophy of simplicity, they craft keyboards to give a unique typing experience to developers and newcomers alike. I helped by creating the brand, landing page, design system, and online presence."
    />
    <NavFooter returnPath="/work" nextPath="/giko/detail" />
  </div>
</ZerendorLayout>
