@font-face {
  font-family: "Arial Narrow";
  src: url("/fonts/Arial\ Narrow.ttf");
}

@font-face {
  font-family: "Arial Narrow Regular";
  src: url("/fonts/ARIALN.TTF");
}

@font-face {
  font-family: 'VideoCondLight';
  src: url('/fonts/VideoCond-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'VideoCondRegular';
  src: url('/fonts/VideoCond-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RajdhaniRegular';
  src: url('/fonts/Rajdhani-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RajdhaniMedium';
  src: url('/fonts/Rajdhani-Medium.ttf') format('truetype');
}

.card-text {
  font-family: "Arial Narrow Regular", sans-serif;
}

.rounded-img {
  border-radius: 12px;
}

.video-cond-light {
  font-family: "VideoCondLight", serif;
}
.video-cond-regular {
  font-family: "VideoCondRegular", serif;
}
.rajdhani-regular {
  font-family: "RajdhaniRegular", sans-serif;
}
.rajdhani-medium {
  font-family: "RajdhaniMedium", sans-serif;
}
.arial-narrow {
  font-family: "Arial-Narrow", sans-serif;
}

.equation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.equation-type,
.equation-attribute {
  width: 50%;
}

.equation-equal {
  flex-shrink: 0;
  text-align: center;
  width: 1%;
}

.equation-type {
  text-align: right;
  padding-right: 0.5em;
}

.equation-attribute {
  text-align: left;
  padding-left: 0.5em;
}

.main-content {
  position: relative;
  z-index: 1;
}

.modal {
  position: sticky;
  z-index: 2;
  margin-top: 28px;
  bottom: 0;
}

.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-image: url("/36pics/0RECAP6.png");
  background-size: cover;
  background-position: center;
  filter: blur(10px);
}
