---
import React from "react";
import FechaCompleta from "../components/FechaCompleta";
import MainPage from "../components/MainPage";
import SubTitle from "../components/SubTitle";
import WorkTitle from "../components/WorkTitle.astro";
import WorkSubtitle from "../components/WorkSubtitle";
import WorkBody from "../components/WorkBody";
import NowWatching from "../components/NowWatching";
import SlideTitle from "../components/SlideTitle";
import { ViewTransitions } from "astro:transitions";
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://use.typekit.net/kqd6vba.css">
		<link rel="stylesheet" href="/css/styles.css"/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Zerendor.com</title>
    <ViewTransitions />
	</head>
	<body transition:animate="none">
		<div class="bg-gradient-to-b from-[#16160E] from-50% to-[#6C848D] h-screen p-8 video-cond-regular">
      <div transition:animate="none">
        <NowWatching worktitle="36days"/>
      </div>
      <div class="mt-24" transition:animate="none">
        <img
          src="../public/logo/zereLogo.png"
          alt="Zerendor Logo"
          width={26}
          height={19}
        />
      </div>
        <div transition:animate="slide">
          <SlideTitle slidetitle="Vice city"/>
          <WorkTitle title="Sixxxxxx"/>
          <img src="../public/36pics/6RECAP.png" alt="Foto 3" class="mt-4 rounded-img"/>
        </div>
        <div class="video-cond-regular text-sm text-[#EDFFFF] fixed bottom-6 left-0 right-0 flex justify-between" transition:animate="none">
          <a href="/36days5" class="ml-6">- Return</a>
          <a href="/36days7" class="mr-6">&gt; Slide to continue</a>
        </div> 
    </div>
	</body>
</html>