---
import NavFooter from '@components/NavFooter.astro';
import ZerendorLayout from '@layouts/ZerendorLayout.astro';
---

<ZerendorLayout title="About - Zerendor" showDate>
  <div transition:animate="slide">
    <div class="mt-24">
      <img
        src="/logo/zereLogo.png"
        alt="Zerendor Logo"
        width={26}
        height={19}
      />
      <div class="mt-4">
        <p class="text-[#EDFFFF]">+ Food for thought:</p>
      </div>
    </div>
    <div
      class="text-[#EDFFFF] text-4xl rajdhani-regular flex flex-col space-y-4 mt-4"
    >
      <div class="uppercase">Let your eyes look directly forward</div>
      <div class="uppercase">And your gaze be straight before you</div>
      <div class="uppercase">Ponder the path of your feet</div>
      <div class="uppercase">Then all your ways will be sure.</div>
      <div class="video-cond-regular text-sm text-[#EDFFFF]">
        Proverbs 4:25-26
      </div>
    </div>

    <NavFooter returnPath="/about" />
  </div>
</ZerendorLayout>
