---
import AboutText from '@components/AboutText.astro';
import ZerendorLayout from '@layouts/ZerendorLayout.astro';
import ZerendorWelcome from '@components/Welcome';
import NavFooter from '@components/NavFooter.astro';
---

<ZerendorLayout title="About - Zerendor" showDate>
  <div transition:animate="slide">
    <ZerendorWelcome client:load to="about" />
    <AboutText />
    <NavFooter returnPath="/" nextPath="/about2" />
  </div>
</ZerendorLayout>
