---
import React from "react";
import FechaCompleta from "../components/FechaCompleta";
import MainPage from "../components/MainPage";
import SubTitle from "../components/SubTitle";
import WorkTitle from "../components/WorkTitle.astro";
import WorkSubtitle from "../components/WorkSubtitle";
import WorkBody from "../components/WorkBody";
import { ViewTransitions } from "astro:transitions";
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://use.typekit.net/kqd6vba.css">
		<link rel="stylesheet" href="/css/styles.css"/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Zerendor.com</title>
    <ViewTransitions />
	</head>
	<body transition:animate="none">
		<div class="bg-gradient-to-b from-[#16160E] from-50% to-[#6C848D] h-screen p-8 video-cond-regular">
      <FechaCompleta client:load />
      <div transition:animate="slide">
        <MainPage client:load />
        <WorkTitle title="gradients"/>
        <WorkSubtitle subtitle="Brief" date="May 23'"/>
        <WorkBody body="Evoking tangible emotions in the digital realm and humanizing our online experience is the goal of this art exhibition. Inspired by early internet aesthetics, Gradients is a solo passion project to visualize dithered gradients and audiovisual elements combined to represent the properties of digital data."/>
        <div class="video-cond-regular text-sm text-[#EDFFFF] fixed bottom-6 left-0 right-0 flex justify-between">
          <a href="/work" class="ml-6">- Return</a>
          <a href="/gradientsdetail" class="mr-6">&gt; Slide to continue</a>
        </div>
      </div>  
    </div>
	</body>
</html>