---
import SubTitle from '@components/SubTitle';
import PhilosophyCard from '@components/PhilosophyCard';
import ZerendorLayout from '@layouts/ZerendorLayout.astro';
import ZerendorWelcome from '@components/Welcome';
import WorkLink from '@components/WorkLink.astro';
---

<ZerendorLayout title="Zerendor.com" showDate>
  <div>
    <!-- Main -->
    <div>
      <ZerendorWelcome to="Zerendor.com" client:load />
      <SubTitle subtitle="Hosted by" />
      <div class="uppercase text-[#EDFFFF] text-4xl rajdhani-regular">
        Bruno Gardini
      </div>
      <div class="uppercase text-[#EDFFFF] text-4xl rajdhani-regular">
        UXUI Designer
      </div>
      <div class="uppercase text-[#EDFFFF] text-4xl rajdhani-regular">
        Art Director
      </div>
      <SubTitle subtitle="Quick access" />
      <div class="flex flex-row space-x-4">
        <WorkLink title="work" href="/work" />
        <WorkLink title="e-mail" href="mailto:bruno.gardini@outlook.com" />
        <WorkLink title="about" href="/about" />
      </div>
    </div>

    <!-- Modal -->
    <PhilosophyCard client:load />
  </div>
</ZerendorLayout>
