---
import WorkSubtitle from '@components/WorkSubtitle';
import WorkBody from '@components/WorkBody';
import ZerendorLayout from '@layouts/ZerendorLayout.astro';
import ZerendorWelcome from '@components/Welcome';
import NavFooter from '@components/NavFooter.astro';
---

<ZerendorLayout title="iui x Zerendor" showDate>
  <div>
    <ZerendorWelcome to="IUI" client:load />
    <WorkSubtitle subtitle="Brief" date="May 23'" />
    <WorkBody
      body="To envision a concise end-user experience for interpreters, IUI or Interpreter User Interface provides a tailor-made interface for over-the-phone interpretation. It uses iOS design system to achieve a friendly, familiar and simple-to-use dashboard, and smoothly switches between a data-driven report tool and a virtual phone. I designed the entire user experience and interface."
    />
    <NavFooter returnPath="/work" nextPath="/iuidetail" />
  </div>
</ZerendorLayout>
