---
import WorkSubtitle from '@components/WorkSubtitle';
import WorkBody from '@components/WorkBody';
import ZerendorLayout from '@layouts/ZerendorLayout.astro';
import ZerendorWelcome from '@components/Welcome';
import NavFooter from '@components/NavFooter.astro';
---

<ZerendorLayout title="Kondor x Zerendor" showDate>
  <div>
    <ZerendorWelcome to="kondor" />
    <WorkSubtitle subtitle="Brief" date="Aug - Oct 23'" />
    <WorkBody
      body="To ignite a hopeful future for game development, KONDOR Studios embodies a constant hunt for new horizons. In order to continue creating successful game franchises with bold characters and thought-provoking narratives, this new indie studio required a striking new image. I provided brand services and developed the corporate presentation of the company based on the native bird."
    />
    <NavFooter returnPath="/work" nextPath="/kondordetail" />
  </div>
</ZerendorLayout>
