---
import WorkSubtitle from '@components/WorkSubtitle';
import WorkBody from '@components/WorkBody';
import ZerendorLayout from '@layouts/ZerendorLayout.astro';
import ZerendorWelcome from '@components/Welcome';
import NavFooter from '@components/NavFooter.astro';
---

<ZerendorLayout title="KUK x Zerendor" showDate>
  <div>
    <ZerendorWelcome to="kuk" client:load />
    <WorkSubtitle subtitle="Brief" date="May to Aug 23'" />
    <WorkBody
      body="Kuk is here to create a joyful collaborative environment with a welcoming community to home-cooking beginners. As an extension of your cooking routine and spending habits, it provides a customizable diary of meals and ways of handling time and money. I developed the app during my time at Coderhouse, with a clear focus on the entire user experience, brand guidelines, and a fully functioning prototype."
    />
    <NavFooter returnPath="/work" nextPath="/kukdetail" />
  </div>
</ZerendorLayout>
