---
import WorkSubtitle from '@components/WorkSubtitle';
import WorkBody from '@components/WorkBody';
import ZerendorLayout from '@layouts/ZerendorLayout.astro';
import ZerendorWelcome from '@components/Welcome';
import NavFooter from '@components/NavFooter.astro';
---

<ZerendorLayout title="SPAW x Zerendor" showDate>
  <div transition:animate="slide">
    <ZerendorWelcome to="spaw" client:load />
    <WorkSubtitle subtitle="Brief" date="Jan 22'" />
    <WorkBody
      body="From the archive: “SPAW is a brand that encompasses several fields, hence the need to have an everchanging but recognizable logo. It's a brand that thrives on the reminiscence of simpler times, established in an obsessed passion for well designed things. SPAW is a state of mind encapsulated within the message in the bottle that never ashore in the shapeshifting sands of a beach that never existed”. A mouthful. I drew the logo back in 2019 and finally decided to work on the brand universe and design guidelines in 2022."
    />
    <NavFooter returnPath="/work" nextPath="/spawdetail" />
  </div>
</ZerendorLayout>
