---
import React from "react";
import FechaCompleta from "../components/FechaCompleta";
import MainPage from "../components/MainPage";
import SubTitle from "../components/SubTitle";
import WorkTitle from "../components/WorkTitle.astro";
import WorkSubtitle from "../components/WorkSubtitle";
import WorkBody from "../components/WorkBody";
import { ViewTransitions } from "astro:transitions";
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://use.typekit.net/kqd6vba.css">
		<link rel="stylesheet" href="/css/styles.css"/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Zerendor.com</title>
    <ViewTransitions />
	</head>
	<body transition:animate="none">
		<div class="bg-gradient-to-b from-[#16160E] from-50% to-[#6C848D] h-screen p-8 video-cond-regular">
      <FechaCompleta client:load />
      <div transition:animate="slide">
        <MainPage client:load />
        <WorkTitle title="starpride"/>
        <WorkSubtitle subtitle="Brief" date="Dec 21'"/>
        <WorkBody body="To bring familiarity for crew members from all corners of the world, Virgin appointed the task of designing the identity for its housekeeping team. I worked on several iterations of the designs and landed on something popular within the crew. The OG 'knock it out of the park' because it meant my first international venture and success story."/>
        <div class="video-cond-regular text-sm text-[#EDFFFF] fixed bottom-6 left-0 right-0 flex justify-between">
          <a href="/work" class="ml-6">- Return</a>
          <a href="/starpridedetail" class="mr-6">&gt; Slide to continue</a>
        </div>
      </div>  
    </div>
	</body>
</html>