---
import WorkSubtitle from '@components/WorkSubtitle';
import WorkBody from '@components/WorkBody';
import ZerendorLayout from '@layouts/ZerendorLayout.astro';
import ZerendorWelcome from '@components/Welcome';
import NavFooter from '@components/NavFooter.astro';
---

<ZerendorLayout title="Star Pride x Zerendor" showDate>
  <div>
    <ZerendorWelcome to="starpride" client:load />
    <WorkSubtitle subtitle="Brief" date="Dec 21'" />
    <WorkBody
      body="To bring familiarity for crew members from all corners of the world, Virgin appointed the task of designing the identity for its housekeeping team. I worked on several iterations of the designs and landed on something popular within the crew. The OG 'knock it out of the park' because it meant my first international venture and success story."
    />
    <NavFooter returnPath="/work" nextPath="/starpridedetail" />
  </div>
</ZerendorLayout>
