---
import React from "react";
import FechaCompleta from "../components/FechaCompleta";
import MainPage from "../components/MainPage";
import SubTitle from "../components/SubTitle";
import { ViewTransitions } from "astro:transitions";
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://use.typekit.net/kqd6vba.css">
		<link rel="stylesheet" href="/css/styles.css"/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Zerendor.com</title>
    <ViewTransitions />
	</head>
	<body transition:animate="none">
		<div class="bg-gradient-to-b from-[#16160E] from-50% to-[#6C848D] h-screen p-8 video-cond-regular">
      <FechaCompleta client:load />
      <div transition:animate="slide">
        <MainPage client:load />
        <div class="uppercase text-[#EDFFFF] text-4xl rajdhani-regular">
          Work
        </div>
        <SubTitle subtitle="2023"/>
        <div class="flex flex-row space-x-4">
          <a href="/giko" class="uppercase text-[#EDFFFF] text-4xl rajdhani-regular underline underline-offset-4">Giko</a>
          <a href="/kondor" class="uppercase text-[#EDFFFF] text-4xl rajdhani-regular underline underline-offset-4">Kondor</a>
          <a href="/36days" class="uppercase text-[#EDFFFF] text-4xl rajdhani-regular underline underline-offset-4">36Days</a>
        </div>
        <div class="flex flex-row space-x-4">
          <a href="/gradients" class="uppercase text-[#EDFFFF] text-4xl rajdhani-regular underline underline-offset-4">Gradients</a>
          <a href="/iui" class="uppercase text-[#EDFFFF] text-4xl rajdhani-regular underline underline-offset-4">IUI</a>
        </div>
        <SubTitle subtitle="2022"/>
        <div class="flex flex-row space-x-4">
          <a href="/kuk" class="uppercase text-[#EDFFFF] text-4xl rajdhani-regular underline underline-offset-4">Kuk</a>
          <a href="/spaw" class="uppercase text-[#EDFFFF] text-4xl rajdhani-regular underline underline-offset-4">Spaw</a>
        </div>
        <SubTitle subtitle="2021"/>
        <div class="flex flex-row space-x-4">
          <a href="/starpride" class="uppercase text-[#EDFFFF] text-4xl rajdhani-regular underline underline-offset-4">Starpride</a>
        </div>
        <div class="video-cond-regular text-sm text-[#EDFFFF] fixed bottom-6"><a href="/">- Return</a></div>
      </div>  
    </div>
	</body>
</html>