---
import ZerendorWelcome from '@components/Welcome';
import SubTitle from '@components/SubTitle';
import ZerendorLayout from '@layouts/ZerendorLayout.astro';
import NavFooter from '@components/NavFooter.astro';
import WorkLink from '@components/WorkLink.astro';
---

<ZerendorLayout title="Work - Zerendor" showDate>
  <div>
    <ZerendorWelcome to="work" />
    <SubTitle subtitle="2023" />
    <div class="flex flex-row space-x-4">
      <WorkLink title="giko" href="/giko" />
      <WorkLink title="kondor" href="/kondor" />
      <WorkLink title="36days" href="/36days" />
    </div>
    <div class="flex flex-row space-x-4">
      <WorkLink title="gradients" href="/gradients" />
      <WorkLink title="iui" href="/iui" />
    </div>
    <SubTitle subtitle="2022" />
    <div class="flex flex-row space-x-4">
      <WorkLink title="kuk" href="/kuk" />
      <WorkLink title="spaw" href="/spaw" />
    </div>
    <SubTitle subtitle="2021" />
    <div class="flex flex-row space-x-4">
      <WorkLink title="starpride" href="/starpride" />
    </div>
    <NavFooter returnPath="/" />
  </div>
</ZerendorLayout>
