---
import React from 'react';
---

<div
  class="text-[#EDFFFF] text-left flex flex-col space-y-4 mt-4 max-w-[300px] text-[15px]"
>
  <p>
    I am Bruno Gardini. Born and raised in Peru. As a kid, I loved playing video
    games and customizing things. My design career started with logos, banners,
    and whatnot for friends and family. I went to architectural school,
    graduated, and matured my foundation for aesthetics.
  </p>
  <p>
    I worked for big companies, small companies, and myself. Freelanced a whole
    lot, UXUI being my sword and shield, but I do not fear any challenges.
  </p>
  <p>
    After pushing buttons my whole life, I decided to design them myself. I can
    do anything. UXUI, Product, Brand, Art direction. My grandpa was handy, dad
    was handy, you get the drift.<br />Let's <a
      href="mailto:bruno.gardini@outlook.com"
      class="underline underline-offset-4 cursor-pointer font-semibold"
      >work together.</a>
  </p>
</div>
