---
import { ViewTransitions } from 'astro:transitions';
import '../styles/global.css';
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="stylesheet" href="https://use.typekit.net/kqd6vba.css" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<ViewTransitions />
