---
import ZerendorLayout from '@layouts/ZerendorLayout.astro';
import NowWatching from '@components/NowWatching';
import SlideTitle from '@components/SlideTitle';
import NavFooter from '@components/NavFooter.astro';
import WorkTitle from '@components/WorkTitle.astro';
---

<ZerendorLayout title="36days3 x Zerendor">
  <div transition:animate="none">
    <NowWatching worktitle="36days" />
  </div>
  <div class="mt-24" transition:animate="none">
    <img src="/logo/zereLogo.png" alt="Zerendor Logo" width={26} height={19} />
  </div>
  <div transition:animate="slide">
    <SlideTitle slidetitle="Tiger Claw" />
    <WorkTitle title="Thr33" />
    <img src="/36pics/3RECAP.png" alt="Foto 3" class="mt-4 rounded-img" />
  </div>
  <NavFooter returnPath="/36days/36days2" nextPath="/36days/36days4" />
</ZerendorLayout>
