---
import WorkTitle from '@components/WorkTitle.astro';
import NowWatching from '@components/NowWatching';
import SlideTitle from '@components/SlideTitle';
import ZerendorLayout from '@layouts/ZerendorLayout.astro';
import NavFooter from '@components/NavFooter.astro';
---

<ZerendorLayout title="36days8 x Zerendor">
  <div>
    <NowWatching worktitle="36days" />
  </div>
  <div class="mt-24">
    <img src="/logo/zereLogo.png" alt="Zerendor Logo" width={26} height={19} />
  </div>
  <div>
    <SlideTitle slidetitle="Palacio de cristal" />
    <WorkTitle title="8ch8" />
    <img src="/36pics/8RECAP.png" alt="Foto 3" class="mt-4 rounded-img" />
  </div>
  <NavFooter returnPath="/36days/36days7" nextPath="/36days/36days9" />
</ZerendorLayout>
