---
import WorkTitle from '@components/WorkTitle.astro';
import NowWatching from '@components/NowWatching';
import SlideTitle from '@components/SlideTitle';
import NavFooter from '@components/NavFooter.astro';
import ZerendorLayout from '@layouts/ZerendorLayout.astro';
---

<ZerendorLayout title="36days9 x Zerendor">
  <div>
    <NowWatching worktitle="36days" />
  </div>
  <div class="mt-24">
    <img src="/logo/zereLogo.png" alt="Zerendor Logo" width={26} height={19} />
  </div>
  <div>
    <SlideTitle slidetitle="The end (9)" />
    <WorkTitle title="The end (9)" />
    <img src="/36pics/9RECAP.png" alt="Foto 3" class="mt-4 rounded-img" />
  </div>
  <NavFooter returnPath="/36days" />
</ZerendorLayout>
