---
import CommonHead from '../components/CommonHead.astro';
import FechaCompleta from '../components/FechaCompleta';
import { motion } from 'framer-motion';
interface Props {
  title: string;
  showDate?: boolean;
}
const { title, showDate } = Astro.props;
---

<html lang="eng">
  <head>
    <CommonHead title={title} />
  </head>
  <body
    class="bg-gradient-to-b from-[#16160E] from-50% to-[#6C848D] h-screen overflow-auto p-8 video-cond-regular"
  >
    <motion.div client:load animate={{ opacity: 1 }} initial={{ opacity: 0 }}>
      {showDate && <FechaCompleta client:load />}
      <slot />
    </motion.div>
  </body>
</html>
